*{
    padding: 0;
    margin: 0;
  }
  body{
    font-family: "Lucida Console", Verdana, Arial;
    background-color: #EBE784;
    color: #009D6B;
  }
  #container{
    background-color: white;
    width: 80%;
    min-height: auto;
    padding: 20px;
    margin: 10px auto 10px auto;
  }
  #palavra, #flip, #estilo{
    margin-top: 15px;
    padding: 10px;
    background-color: #0096DB;
    text-align: center;
    color: white;
  }
  #conceito, #panel{
    padding: 15px;
    background-color: #0063A4;
    text-align: justify;
    color: white;
    display: none;
  }
  button{
    width: 140px;
    padding: 5px;
    font-family: "Lucida Console", Verdana, Arial;
  }
  